/*variáveis*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Red+Hat+Mono:wght@300&family=Roboto:wght@300&family=Varela+Round&display=swap');
body{
    --bg-color: linear-gradient(180.9deg, #030303 31.24%, #4E1471 99.23%);
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);

}
*{
    font-family: 'Red Hat Mono', monospace;
}


/* Botão Flutuante

.tamanhin{
    width: 100vw;
    height: 1vh;
}
.menu {  
    filter: url("#shadowed-goo");  
   }  
   .menu-open{
       background-color: #B5FF00;
   }
   .menu-item, .menu-open-button { 
    background-color: #B5FF00;  
    border-radius: 100%;  
    width: 2.5rem;  
    height: 2.5rem;   
    position: absolute;  
    color: #000;  
    text-align: center;  
    line-height: 80px;  
    transform: translate3d(0, 0, 0);  
    transition: transform ease-out 200ms;  
   }  
   .menu-open {  
    display: none; 
    border-color: #B5FF00; 
   }  
   .hamburger {  
    width: 20px;  
    height: 3px;  
    background: #000; 
    display: block;  
    position: absolute;  
    top: 50%;  
    left: 50%;  
    margin-left: -8.7px;  
    margin-top: -1.5px;  
    transition: transform 200ms;  
   }  
   .hamburger-1 {  
    transform: translate3d(0, -8px, 0);  
   }  
   .hamburger-2 {  
    transform: translate3d(0, 0, 0);  
   }  
   .hamburger-3 {  
    transform: translate3d(0, 8px, 0);  
   }  
   .menu-open:checked + .menu-open-button .hamburger-1 {  
    transform: translate3d(0, 0, 0) rotate(45deg);  
   }  
   .menu-open:checked + .menu-open-button .hamburger-2 {  
    transform: translate3d(0, 0, 0) scale(0.1, 1);  
   }  
   .menu-open:checked + .menu-open-button .hamburger-3 {  
    transform: translate3d(0, 0, 0) rotate(-45deg);  
   }  
   .menu {  
    position: fixed;
    right: 1px;
    bottom: 40px;
    width: 5rem;  
    height: 4rem;  
    font-size: 10px;  
    border: 2px #B5FF00;
   }  

   .menu-item:nth-child(3) {  
    transition-duration: 180ms;  
    border: 2px solid #B5FF00;
    background: #c4c4c41f; 
    
   }  
   .menu-item:nth-child(3):hover {  
    color: #B5FF00;
    border: 2px solid #B5FF00;
    box-sizing: border-box;
    box-shadow: 0 0 5px #b5ff00;
    box-shadow: 0 0 15px #b5ff00;
    text-shadow: 0 0 15px #b5ff00;
    backdrop-filter: blur(5px);
   }  
   .menu-item:nth-child(4) {  
    transition-duration: 180ms;  
    border: 2px solid #A64DFF;
    background: #c4c4c41f; 
   }  

   .menu-item:nth-child(4):hover {  
    color: #A64DFF;
    border: 2px solid #A64DFF;
    box-sizing: border-box;
    box-shadow: 0 0 5px #A64DFF;
    box-shadow: 0 0 15px #A64DFF;
    text-shadow: 0 0 15px #A64DFF;
    backdrop-filter: blur(5px);
   }  

   .menu-item:nth-child(5) {  
    transition-duration: 180ms;
    border: 2px solid #2dbdff; 
    background: #c4c4c41f;  
   }  

   .menu-item:nth-child(5):hover {  
    color: #2dbdff;
    border: 2px solid #2dbdff;
    box-sizing: border-box;
    box-shadow: 0 0 5px #2dbdff;
    box-shadow: 0 0 15px #2dbdff;
    text-shadow: 0 0 15px #2dbdff;
    backdrop-filter: blur(5px);
   }  

   .menu-item:nth-child(6) {  
    transition-duration: 180ms;  
    border: 2px solid #fff;
    background: #c4c4c41f; 
   }  

   .menu-item:nth-child(6):hover {  
    color: #fff;
    border: 2px solid #fff;
    box-sizing: border-box;
    box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 15px #fff;
    text-shadow: 0 0 15px #fff;
    backdrop-filter: blur(5px);
   }  

   .menu-open-button {  
    z-index: 2;  
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);  
    transition-duration: 400ms;  
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);  
    cursor: pointer;  
   }  
   .menu-open-button:hover {  
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);  
   }  
   .menu-open:checked + .menu-open-button {  
    transition-timing-function: linear;  
    transition-duration: 200ms;  
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);  
   }  
   .menu-open:checked ~ .menu-item {  
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);  
   }  
   .menu-open:checked ~ .menu-item:nth-child(3) {  
    transition-duration: 190ms;  
    transform: translate3d(0, -60px, 0);  
   }  
   .menu-open:checked ~ .menu-item:nth-child(4) {  
    transition-duration: 290ms;  
    transform: translate3d(0, -130px, 0);  
   }  
   .menu-open:checked ~ .menu-item:nth-child(5) {  
    transition-duration: 390ms;  
    transform: translate3d(0, -200px, 0);  
   }  
   .menu-open:checked ~ .menu-item:nth-child(6) {  
    transition-duration: 490ms;  
    transform: translate3d(0, -270px, 0);  
   }  


/* ---------------------------------- Nav ------------------------------- */
nav{
    width: 100vw;
}
.nav-link, .name, .linha, .navbar-brand{
    color: #B5FF00;
}

.nav-link{
    font-size: .8rem;
}

.navbar-toggler-icon{
    color:#B5FF00;
}

/* ---------------------------------- Home ------------------------------- */

#home{
    font-family: 'Red Hat Mono', monospace;
}

.linha{
    color: #B5FF00;
    font-family: 'Red Hat Mono', monospace;
    position: relative;
    overflow: hidden;
    font-size: 100%;
    white-space: nowrap;
    margin: 0;
    margin-bottom: 1rem;
    
}

.search-bar{
    margin-top: 2rem;
    width: 70rem;
    height: 42px;
    left: 82px;
    color:#A64DFF;
    background-color: rgba(196, 196, 196, 0.16);
    border: 1px solid #A64DFF;
    box-shadow: 0 0 5px #A64DFF;
    box-shadow: 0 0 15px #A64DFF;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
}

.pesquisa{
    text-align: center;
}
.btn-src{
    width: 121px;
    height: 43px;
    color: #A64DFF;
    background: rgba(196, 196, 196, 0.16);
    border: 1px solid #A64DFF;
    box-shadow: 0 0 5px #A64DFF;
    box-shadow: 0 0 15px #A64DFF;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
}
.btn-download{
    width: 250px;
    height: 57px;
    color: #B5FF00;
    background: rgba(196, 196, 196, 0.1);
    border: 1px solid #B5FF00;
    box-sizing: border-box;
    box-shadow: 0 0 5px #b5ff00;
    box-shadow: 0 0 15px #b5ff00;
    text-shadow: 0 0 15px #b5ff00;
    backdrop-filter: blur(5px);
}

.btn-download:hover{
    background: #B5FF00;
    color:#030303;
}

/* ---------------------------------- Responsividade ------------------------------- */
@media (min-width: 600px) and (max-width: 1400px) { 
    .home{
        margin-left: 4rem;
        margin-top: 4rem;
    }

    .search-bar{
        width: 80vw;
    }
}
@media (max-width: 575.98px) { 
    .glass-login{
        width: 30rem;
        font-size:small;
    }
    .btn-login{
        width: 1rem;
    }
    .login-title{
        font-size: 1rem;
    }
    .pesquisa{
        font-size: 0.7rem;
    }
    .search-bar{
        width: 10rem;
        height: 2rem;
    }

    .navbar{
        padding-left: -10;
    }
    .btn-src{
        width: 5rem;
        height: 2.01rem;

    }

    .name{
        font-size: 1.5rem;
    }
    .home{
        text-align: center;
        margin-top: 3rem;
    }
    .efeito-digitacao{
        justify-content: center;
        align-items: center;
    }
    .linha{
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
    }
    .btn-download{
        width: 8rem;
        height: 2rem;
        text-align: center;
        align-items: center;
    }
    .tab2, .copyright{
        font-size: 0.5rem;
    }
    
    #putamerda{
       font-size: 1rem;
    }

    .nav-link{
        font-size: 0.7rem;
    }

    .navbar-toggler{
        color: #030303;
        background-color: #030303;
    }

 }

 .footer{
    padding-bottom: 1px;
    width: 100vw;
    height: 5rem;
    padding-bottom: -100rem;
}

/* ---------------------------------- footer ------------------------------- */
/* Animation */

.waves{
    height: 10rem;
    width: 100vw;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
.parallax > use:nth-child(5) {
    animation-delay: -5s;
    animation-duration: 15s;
}
@keyframes move-forever {
    0%{
        transform: translate3d(-90px, 0, 0);
    }
    100%{
        transform: translate3d(85px, 0, 0);
    }
}
@media (max-width: 575.98px){
    .waves{
        height: 80px;
        width: 100vw;
        min-height: 40px;
    }
}

/* ----------------------------------------------------------------------------*/
/* -------------------------------------- login page -------------------------------------------*/

.center{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control:focus{
    border: none;
    text-decoration: none;
}
.glass-login{
    font-family: 'Red Hat Mono', monospace;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 25vw;
    height: 20em;
    color: #B5FF00;
    border-radius: 5px;
    border: 2px solid #A64DFF;
    background: #c4c4c442;
    box-shadow: 0 0 5px #A64DFF;
    box-shadow: 0 0 25px #A64DFF;
    box-shadow: 0 0 30px #A64DFF;
    letter-spacing: 1px;
    backdrop-filter: blur(50px);
}
.login-title{
    color: #bbff00;
    border: #B5FF00;
    text-shadow: 0 0 5px #B5FF00;
    text-shadow: 0 0 15px #B5FF00;
    text-shadow: 0 0 15px #B5FF00;
    text-shadow: 0 0 25px #B5FF00;
    text-align: center;
}
.btn-login{
    width: 8rem;
    height: 2.5rem;
    background: #c4c4c442;
    color: #B5FF00;
    border: 2px solid #B5FF00;
    transition: 0.3s;
    letter-spacing: 2px;
    margin-left: 4.9rem;
    margin-top: 1rem;
}

.btn-login:hover{
    box-shadow: 0 0 5px #B5FF00;
    box-shadow: 0 0 15px #B5FF00;
    box-shadow: 0 0 25px #B5FF00;
    
}

/* -------------------------------------- Register page -------------------------------------------*/
.glass-cadastro{
    font-family: 'Red Hat Mono', monospace;
    text-align: center;
    width: 30vw;
    color: #B5FF00;
    border-radius: 5px;
    border: 2px solid #A64DFF;
    background: #c4c4c442;
    box-shadow: 0 0 5px #A64DFF;
    box-shadow: 0 0 25px #A64DFF;
    box-shadow: 0 0 30px #A64DFF;
    letter-spacing: 2px;
    backdrop-filter: blur(50px);
    padding-top: 2rem;
}
.btn-cadastro{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 8rem;
    height: 2.5rem;
    background: #c4c4c442;
    color: #B5FF00;
    border: 2px solid #B5FF00;
    transition: 0.3s;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.btn-cadastro:hover{
    box-shadow: 0 0 5px #B5FF00;
    box-shadow: 0 0 15px #B5FF00;
    box-shadow: 0 0 25px #B5FF00;
    
}

.input-neon{
    width: 25rem;
}

.label1{
    margin-left: -21rem;
}
.label2{
    margin-left: -17rem;
}
.label3{
    margin-left: -19rem;
}
.label4{
    margin-left: -12.8rem;
}

/* ------------- Not Found Page -------------------------*/

.div{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
  }
  
  .wrap{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .h2{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 150px;
    font-size: 32px;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    display: block;
    color: #12000a;
    font-weight: 300;
    font-family: 'Red Hat Mono', monospace;
    text-shadow: 0px 0px 4px #12000a;
    animation: fadeInText 3s ease-in 3.5s forwards, flicker4 5s linear 7.5s infinite, hueRotate 6s ease-in-out 3s infinite;
  }
  
  #svgWrap_1,
  #svgWrap_2{
    position: absolute;
    height: auto;
    width: 50vw;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #svgWrap_1,
  #svgWrap_2,
  .div{
    animation: hueRotate 6s ease-in-out 3s infinite;
  }
  
  #id1_1,
  #id2_1,
  #id3_1{
    stroke: #B5FF00;
    stroke-width: 3px;
    fill: transparent;
    filter: url(#glow);
  }
  
  #id1_2,
  #id2_2,
  #id3_2{
    stroke: #12000a;
    stroke-width: 3px;
    fill: transparent;
    filter: url(#glow);
  }
  
  #id3_1{
    stroke-dasharray: 940px;
    stroke-dashoffset: -940px;
    animation: drawLine3 2.5s ease-in-out 0s forwards, flicker3 4s linear 4s infinite;
  }
  
  #id2_1{
    stroke-dasharray: 735px;
    stroke-dashoffset: -735px;
    animation: drawLine2 2.5s ease-in-out 0.5s forwards, flicker2 4s linear 4.5s infinite;
  }
  
  #id1_1{
    stroke-dasharray: 940px;
    stroke-dashoffset: -940px;
    animation: drawLine1 2.5s ease-in-out 1s forwards, flicker1 4s linear 5s infinite;
  }
  
  @keyframes drawLine1 {
    0%  {stroke-dashoffset: -940px;}
    100%{stroke-dashoffset: 0px;}
  }
  
  @keyframes drawLine2 {
    0%  {stroke-dashoffset: -735px;}
    100%{stroke-dashoffset: 0px;}
  }
  
  @keyframes drawLine3 {
    0%  {stroke-dashoffset: -940px;}
    100%{stroke-dashoffset: 0px;}
  }
  
  @keyframes flicker1{
    0%  {stroke: #B5FF00;}
    1%  {stroke: transparent;}
    3%  {stroke: transparent;}
    4%  {stroke: #B5FF00;}
    6%  {stroke: #B5FF00;}
    7%  {stroke: transparent;}
    13% {stroke: transparent;}
    14% {stroke: #B5FF00;}
    100%{stroke: #B5FF00;}
  }
  
  @keyframes flicker2{
    0%  {stroke: #B5FF00;}
    50% {stroke: #B5FF00;}
    51% {stroke: transparent;}
    61% {stroke: transparent;}
    62% {stroke: #B5FF00;}
    100%{stroke: #B5FF00;}
  }
  
  @keyframes flicker3{
    0%  {stroke: #B5FF00;}
    1%  {stroke: transparent;}
    10% {stroke: transparent;}
    11% {stroke: #B5FF00;}
    40% {stroke: #B5FF00;}
    41% {stroke: transparent;}
    45% {stroke: transparent;}
    46% {stroke: #B5FF00;}
    100%{stroke: #B5FF00;}
  }
  
  @keyframes flicker4{
    0%  {color: #B5FF00;text-shadow:0px 0px 4px #B5FF00;}
    30% {color: #B5FF00;text-shadow:0px 0px 4px #B5FF00;}
    31% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
    32% {color: #B5FF00;text-shadow:0px 0px 4px #B5FF00;}
    36% {color: #B5FF00;text-shadow:0px 0px 4px #B5FF00;}
    37% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
    41% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
    42% {color: #B5FF00;text-shadow:0px 0px 4px #B5FF00;}
    85% {color: #B5FF00;text-shadow:0px 0px 4px #B5FF00;}
    86% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
    95% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
    96% {color: #B5FF00;text-shadow:0px 0px 4px #B5FF00;}
    100%{color: #B5FF00;text-shadow:0px 0px 4px #B5FF00;}
  }
  
  @keyframes fadeInText{
    1%  {color: #12000a;text-shadow:0px 0px 4px #12000a;}
    70% {color: #b5ff00;text-shadow:0px 0px 14px #b5ff00;}
    100%{color: #B5FF00;text-shadow:0px 0px 4px #B5FF00;}
  }
  
  @keyframes hueRotate{
    0%  {
      filter: hue-rotate(0deg);
    }
    50%  {
      filter: hue-rotate(-120deg);
    }
    100%  {
      filter: hue-rotate(0deg);
    }
  }